@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET CORE PROJE KAMPI</h1>
    <p>Barış Gün <a href="https://docs.microsoft.com/aspnet/core">Proje detayları buraya gelecek</a>.</p>
</div>
